/* Global styles */
body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
  /* background-color: ; */
}

h1 {
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
  color: #66bfbf;
  font-size: 6.25rem;
  line-height: 1;
}
h2 {
  font-size: 2.5rem;
  color: #66bfbf;
}
h3 {
  color: #11999e;
}
a {
  color: #11999e;
  text-decoration: none;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

h2,
h3,
h4 {
  font-family: "Montserrat", sans-serif;
}
hr {
  /* width: 5rem; */
  /* border-top: 10px dotted #c2d1d1;
  border-bottom: none;
  border-left: none;
  border-right: none; */
  border: dotted #c2d1d1 10px;
  border-bottom: none;
  width: 4%;
}
ul {
  list-style-type: none;
  padding: 0;
  display: inline-block;
}
li {
  display: inline-block;
  margin: 15px;
}

/* Profile section */
.profile-section {
  padding-top: 100px;
  padding-bottom: 100px;
}
.about-me-text {
  color: #40514e;
  width: 30%;
  line-height: 2;
  margin: 0 auto 0 auto;
  font-weight: 600;
}

/* Hero section */
.hero-section {
  background-color: #eaf6f6;
  position: relative;
  padding-top: 150px;
}
.top-cloud {
  position: absolute;
  top: 50px;
  right: 300px;
  width: 300px;
}
.bottom-cloud {
  position: absolute;
  bottom: 280px;
  left: 300px;
  width: 500px;
}
.hero-section-text {
  font-weight: normal;
}
.hero-section-img {
  margin: 0;
  /* width: 100%; */
}

/* Skills section */
.skills-section {
  padding-top: 100px;
  padding-bottom: 100px;
}
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.skill-row-img-1 {
  width: 20%;
  float: left;
  margin-right: 30px;
}
.skill-row-img-2 {
  width: 20%;
  float: right;
  margin-left: 30px;
}

/* Contact me section */
.contact-me-section {
  padding-top: 100px;
  padding-bottom: 100px;
}
.contact-button {
  margin-top: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 600;
  padding: 10px 20px 10px 20px;
  background-color: #66bfbf;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  transition: 0.2s;
}

.contact-button:hover {
  background: #5cafaf;
  border: none;
  text-decoration: none;
  transition: 0.2s;
}
.contact-heading {
  margin-top: 60px;
}

/* Footer */
footer {
  padding: 30px 0 30px 0;
  background-color: #66bfbf;
}
.rights-text {
  color: #eaf6f6;
}
